<?xml version="1.0" encoding="utf-8" ?>
<commands>
  <command key="top3">
    <![CDATA[
    select top 3 * from sys_product where productname like '%'+@pn+'%'
    ]]>
  </command>
  <command key="test01">
    <![CDATA[
    select top 3 *,'$zwb$ '+'$DateNow$ '+cast(#A# as varchar) as DT 
                    from sys_product
    ]]>
  </command>
</commands>
