<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add  name="DefaultDb"
      connectionString="Data Source=127.0.0.1;Initial Catalog=zhuangdb;Persist Security Info=True;User ID=sa; PassWord=2681645"
      providerName="sqlserver"/>


    <add  name="TestDb"
  connectionString="Data Source=127.0.0.1;Initial Catalog=zhuangdb;Persist Security Info=True;User ID=sa; PassWord=2681645"
  providerName="sqlserver"/>
  </connectionStrings>
</configuration>