<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    
    <add  name="DefaultDb" 
          connectionString="Data Source=127.0.0.1;Initial Catalog=zhuangdb;Persist Security Info=True;User ID=sa; PassWord=zwb"
          providerName="sqlserver"/>
    
    <add name="MySqlDb" connectionString="Data Source=192.168.121.130;Initial Catalog=zhuangdb;Persist Security Info=True;User ID=root; PassWord=zwb"
          providerName="mysql"/>


    <add name="OracleDb" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.126.129)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=xe)));User Id=zhuangdb;Password=zwb;"
          providerName="oracle"/>
  </connectionStrings>

  <appSettings>
    <add key="Zhuang.Data.SqlCommandsBasePath" value=".\App_Config\SqlCommands"/>
  </appSettings>
</configuration>