<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    
    <add  name="DefaultDb" 
          connectionString="Data Source=127.0.0.1;Initial Catalog=zhuangdb;Persist Security Info=True;User ID=sa; PassWord=zwb"
          providerName="sqlserver"/>

    <!--
    MySql连接字符串，这里指定了编码为uft8，所以请确认MySql数据库的相关编码设置为utf8
    SET character_set_client='utf8'
    SET character_set_connection='utf8'
    SET character_set_results='utf8'
    SET character_set_server='utf8'
    SHOW VARIABLES LIKE 'character_set%'-->
    <add name="MySqlDb" connectionString="Data Source=192.168.126.131;Port=3306;Initial Catalog=zhuangdb;Persist Security Info=True;User ID=root; PassWord=2681645;Charset=utf8"
          providerName="mysql"/>

    <add name="OracleDb" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.126.129)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=xe)));User Id=zhuangdb;Password=zwb;"
          providerName="oracle"/>
  </connectionStrings>

  <appSettings>
    <add key="Zhuang.Data.SqlCommandsBasePath" value=".\App_Config\SqlCommands"/>
  </appSettings>
</configuration>